<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock%} </title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="navbar">
        <a href="/">Home</a>
    </div>
    <div class="title" id="title">
        <h1>The MadLibs Machine</h1>
        <p>Enjoy your very own online personal MadLibs!</p>
    </div>
    <div class="story_content" id="story_content">
        {% block content %}

        {% endblock%}
    </div>
</body>
</html>